<button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#save-comment">{{ _('Add comment') }}</button>

{% with athlete.comments as information_all %} 
{% if information_all %}
<table class="table table-hover">
  <tbody>
  {% for information in information_all %}
    <tr data-info-id="{{ information.id }}">
      <td class="col-sm-11">
        <p>
          <b>{{ information.author.first_name }} {{ information.author.last_name }}
            - {{ information.timestamp }}:</b>
        <p>
        <div class="information-body">
          {{ information.get_body_as_markdown|linebreaks }}
        <div>
      </td>
      <td class="col-sm-1 text-right">
          <!-- Call to action buttons -->
        {% if information.author == user %}
        <button type="button" class="btn btn-sm rounded-0 btn-edit" data-toggle="modal" data-target="#save-comment" data-information-id="{{ information.pk }}" data-information-body="{{ information.body }}"><i class="fas fa-edit"></i></button> 
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<br>  
<h3 class="text-center">{{ _('This athlete has no comment yet.') }}</h3> 
{% endif %}
{% endwith %}

<div class="modal fade" id="save-comment" tabindex="-1" role="dialog" aria-labelledby="new-information" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ _('New comment') }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="{% url 'board:athlete-save-information' athlete.pk %}" novalidate>
      <div class="modal-body">
		    {% csrf_token %}
		    {{ new_information_form.non_field_errors }}
				<div class="fieldWrapper">
			    {{ new_information_form.body.errors }}
          <div class="form-group">
			      {{ new_information_form.body }}
          </div>
				</div>
        {{ new_information_form.information_id }}
        {{ new_information_form.information_type }}
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">{{ _('Save comment') }}</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('Close') }}</button>
      </div>
		 	</form>
    </div>
  </div>
</div>


