<tr data-info-id="{{ information.id }}">
	<td class="col-sm-11">
		<p>
			<b>{{ information.author.first_name }} {{ information.author.last_name }}
				- {{ information.timestamp }}:</b>
		<p>
		<div>
	  	{{ information.body }}
		<div>
	</td>
	<td class="col-sm-1 text-right">
	    <!-- Call to action buttons -->
	 <button class="btn btn-sm rounded-0 btn-edit" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-edit"></i></button>
 	  <!--<ul class="list-inline">
	        <li>
	            <button class="btn btn-sm rounded-0 btn-edit" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-edit"></i></button>
	        </li>
	        <li>
	            <button class="btn btn-danger btn-sm rounded-0 btn-delete" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-trash"></i></button>
	        </li>
	    </ul> -->
	</td>
</tr>